VITE_API_URL=
VITE_SUPABASE_API_KEY=
VITE_AUTH_PROVIDER=local
VITE_ACCESS_CONTROL_MODE=permissive
VITE_AUTH_API_URL=
VITE_AXON_API_URL=
VITE_FEDERATION_LEARNING_SUPPORT_API_URL=
VITE_FEDERATION_LEARNING_PLATFORM_API_URL=
VITE_FEDERATION_LEARNING_RUNTIME_AGENT_API_URL=
CONSOLE_IMAGE=medol/federation-learning-platform-console:0.0.1-SNAPSHOT
CONSOLE_CONTAINER_NAME=federation-learning-platform-console
CONSOLE_PORT=5173
