RUNTIME_ENGINE_IMAGE=medol/federation-learning-runtime-engine:0.0.1-SNAPSHOT
RUNTIME_ENGINE_PROJECT_NAME=runtime-engine

RUNTIME_ENGINE_NODE_NAME=local-runtime
RUNTIME_ENGINE_HOST_PORT=18080
RUNTIME_ENGINE_FILE_ACCESS_BASE_URL=http://host.docker.internal:8080
MEDOL_SECURITY_INTERNAL_TOKEN=local-dev-internal-token

RUNTIME_ENGINE_DATASETS_DIR=../volumes/datasets
RUNTIME_ENGINE_TMP_DIR=../volumes/tmp
RUNTIME_ENGINE_MODELS_DIR=../volumes/models
RUNTIME_ENGINE_PAILLIER_KEY_DIR=../volumes/secrets/paillier
