RUNTIME_ENGINE_IMAGE=medol/federation-learning-runtime-engine:0.0.1-SNAPSHOT
DOCKER_IMAGE_PREFIX=medol
IMAGE_VERSION=0.0.1-SNAPSHOT
IMAGE_NAME=federation-learning-runtime-engine
IMAGE_TAR=federation-learning-runtime-engine-images.tar
DOCKER_DEFAULT_PLATFORM=
DOCKER_BUILDKIT=1
RUNTIME_ENGINE_IMAGE_PLATFORM=
RUNTIME_ENGINE_DOCKERFILE=./docker/pytorch/Dockerfile
BASE_IMAGE=python:3.11-slim
PLUGIN_PROFILE=full

RUNTIME_ENGINE_NODE_NAME=local-runtime
RUNTIME_ENGINE_PLUGIN_PROFILE=full
RUNTIME_ENGINE_ENABLED_MODEL_PLUGINS=
RUNTIME_ENGINE_HOST_PORT=18080
RUNTIME_ENGINE_FILE_ACCESS_BASE_URL=http://host.docker.internal:8080
MEDOL_SECURITY_INTERNAL_TOKEN=local-dev-internal-token

RUNTIME_ENGINE_DATASETS_DIR=../volumes/datasets
RUNTIME_ENGINE_TMP_DIR=../volumes/tmp
RUNTIME_ENGINE_MODELS_DIR=../volumes/models
RUNTIME_ENGINE_PAILLIER_KEY_DIR=../volumes/secrets/paillier
